# Engine binary paths (match Dockerfile locations)
STOCKFISH_PATH=/usr/games/stockfish
PIKAFISH_PATH=/usr/local/bin/pikafish
KATAGO_PATH=/usr/local/bin/katago
KATAGO_MODEL_PATH=/usr/local/share/katago/model.bin.gz
KATAGO_CONFIG_PATH=/usr/local/share/katago/config.cfg

# Analysis settings
DEFAULT_DEPTH=20
MAX_DEPTH=30
ENGINE_TIMEOUT=30
